<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Trick or Treat!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render "form" %>
    </div>
  </div>
</div>
